root = true

[*.{kt,kts}]
# 들여쓰기 설정
indent_style = space # 들여쓰기 방식: space(스페이스) 또는 tab(탭) 중 선택
indent_size = 4 # 들여쓰기 크기: 한 단계 들여쓰기 시 사용할 공백 개수
insert_final_newline = true # 파일 끝에 빈 줄 추가 여부
max_line_length = 140 # 한 줄의 최대 길이 제한 평균 100 ~ 140
tab_width = 4 # 탭 문자의 너비 설정


# Import 문 정렬 순서 지정
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^ # 일반적으로: 서드파티 → Java → Kotlin → 프로젝트 순서
ij_kotlin_packages_to_use_import_on_demand = unset # unset = 와일드카드 import 사용 안 함 (명시적 import 권장)
ktlint_standard_no-wildcard-imports = enabled # 와일드카드 import 규칙 비활성화 여부 (disabled 비활성화, enabled 활성화)


# 빈 줄 규칙
ij_kotlin_blank_lines_around_block_when_branches = 0 # when 문의 블록 사이 빈 줄 개수
ij_kotlin_line_break_after_multiline_when_entry = false # 멀티라인 when 항목 뒤 줄바꿈 여부, true 인 경우 '->' 이후 줄바꿈
ij_kotlin_blank_lines_before_declaration_with_comment_or_annotation_on_separate_line = 0 #어노테이션이나 주석 과 코드 사이 빈 줄 수
ktlint_standard_expression-body-newline = disabled # 본문이 선언부와 같은 줄에 불가 enabled, 가능 disabled
ktlint_standard_function-signature = disabled # 함수 선언부를 어떻게 줄바꿈·들여쓰기 규칙 적용 enabled,

# 체이닝 규칙
ij_kotlin_method_call_chain_wrap = off # normal - 적절한 바꿈, off - 줄바꿈 X, wrap_always - 항상 바꿈
ktlint_function_naming_ignore_when_annotated_with = Composable # 특정 어노테이션이 붙은 함수의 네이밍 규칙 무시 - Composable 함수는 PascalCase 사용하므로 예외 처리
ij_kotlin_wrap_first_method_in_call_chain = false # false = 첫 호출부터 이어서 작성
ktlint_standard_chain-wrapping = disabled # disabled = 체인 줄바꿈 강제 안 함

# 함수 호출 시 마지막 인자 뒤 쉼표 규칙
ktlint_standard_trailing-comma-on-call-site = disabled # disabled - 함수호출 시 아규먼트 후행 쉼표 필수 X,
ktlint_standard_trailing-comma-on-declaration-site = disabled # disabled - 함수선언 시 아규먼트 후행 쉼표 필수 X,
ktlint_standard_argument-list-wrapping = disabled # 인자 줄바꿈 스타일을 강제 유무(disabled 강제하지X)
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_parameter-list-wrapping = disabled

# 파일 인코딩 규칙
charset = utf-8


# 줄바꿈 문자 방식
end_of_line = lf # lf = \n, crlf = \r\n , cr = \r


# 함수, 프로퍼티 규칙 비활성화 여부
ktlint_standard_function-naming = disabled # Kotlin에서는 최상위 함수도 허용하므로 상황에 따라 조정
ktlint_standard_property-naming = disabled # 프로퍼티 명명 규칙
ktlint_standard_function-expression-body = enabled # 표현식 본문으로 변환 가능한 함수를 강제할지 여부, enabled = 간단한 함수는 expression body 사용 강제
ij_kotlin_function_body_expression = true # IDE가 expression body 제안하도록 설정
ij_kotlin_keep_first_column_comment = true # 한 줄로 작성 가능한 경우 한 줄로 유지

[app/src/androidTest/**.kt]
ktlint_standard_package-name = disabled

[app/src/test/**.kt]
ktlint_standard_package-name = disabled

[build.gradle.kts]
ktlint_standard_import-ordering = disabled

# Build 산출물 경로는 규칙 적용을 비활성화
[**/build/**.{kt,kts}]
ktlint_disabled_rules = import-ordering,package-name,no-wildcard-imports, chain-wrapping

[simple_core/src/main/java/kr/open/library/simple_ui/core/system_manager/info/network/telephony/data/state/TelephonyNetworkDetailType.kt]
ktlint_standard_enum-entry-name-case = disabled

[simple_core/src/main/java/kr/open/library/simple_ui/**.kt]
ktlint_standard_package-name = disabled

[simple_core/src/test/java/kr/open/library/simple_ui/**.kt]
ktlint_standard_package-name = disabled

[simple_xml/src/main/java/kr/open/library/simple_ui/**.kt]
ktlint_standard_package-name = disabled

[simple_xml/src/test/java/kr/open/library/simple_ui/**.kt]
ktlint_standard_package-name = disabled

[app/src/main/java/kr/open/library/simpleui_xml/**.kt]
ktlint_standard_package-name = disabled




