<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 권한 선언 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"
        android:minSdkVersion="31"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/Theme.SimpleUI_XML"
        tools:targetApi="31">

        <!-- Firebase Crashlytics 데이터 수집 제어 -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlytics_collection_enabled}" />
        <activity
            android:name=".activity_fragment.ActivityFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".activity_fragment.activity.BaseActivityExample"
            android:exported="false" />
        <activity
            android:name=".activity_fragment.activity.BaseBindingActivityExample"
            android:exported="false" />
        <activity
            android:name=".activity_fragment.fragment.FragmentContainerActivity"
            android:exported="false" />
        <activity
            android:name=".extenstions_style.ExtensionsStyleActivity"
            android:exported="false" />
        <activity
            android:name=".system_service_manager.info.ServiceManagerInfoActivity"
            android:exported="false" />
        <activity
            android:name=".system_service_manager.controller.ServiceManagerControllerActivity"
            android:exported="false" />
        <activity
            android:name=".system_service_manager.controller.softkeyboard.SoftKeyboardControllerActivity"
            android:exported="false" />
        <activity
            android:name=".system_service_manager.controller.vibrator.VibratorControllerActivity"
            android:exported="false" />
        <activity
            android:name=".system_service_manager.controller.alarm.AlarmControllerActivity"
            android:exported="false" />
        <activity
            android:name=".system_service_manager.controller.notification.NotificationControllerActivity"
            android:exported="false" />
        <activity
            android:name=".system_service_manager.controller.wifi.WifiControllerActivity"
            android:exported="false" />
        <activity
            android:name=".system_service_manager.controller.floating.FloatingViewControllerActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.origin.RecyclerViewActivityOrigin"
            android:exported="false" />
        <activity
            android:name=".recyclerview.new_.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".logx.LogxActivity"
            android:exported="false" />
        <activity
            android:name=".permissions_origin.PermissionsActivityOrigin"
            android:exported="false" />
        <activity
            android:name=".permission.PermissionsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:persistableMode="persistAcrossReboots"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".system_service_manager.controller.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>